<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Unit-test-suite" verbose="2">
    <test name="unit-tests">
        <classes>
            <class name="com.rationaleemotions.internal.locators.StrategyTest"/>
            <class name="com.rationaleemotions.pojos.JsonWebElementTest"/>
            <class name="com.rationaleemotions.internal.locators.DefaultConditionTest"/>
            <class name="com.rationaleemotions.page.PageObjectTest"/>
            <class name="com.rationaleemotions.page.WaitConditionsTest"/>
            <class name="com.rationaleemotions.internal.locators.WaitServiceListenerTest"/>
        </classes>
    </test>
</suite>
